---

---

<section class="hero-section text-center">
    <div class="container">
        <h1 class="fade-in-up">ConduceYa</h1>
        <h2 class="fade-in-up">La autoescuela online en tu móvil</h2>
        <p class="lead">Aprende a conducir a tu ritmo, desde cualquier lugar. ¡Empieza hoy mismo!</p>
        <a href="/login" class="btn btn-primary btn-lg mt-3">Comenzar</a>
        <a href="#pricing" class="btn btn-info btn-lg mt-3">Ofertas Especiales ❤</a>
    </div>
</section>

<style>
    .hero-section{
        background-color: var(--dark-color);
        color: var(--light-color);
        padding: 100px 0;
    }
    .hero-section h1 {
        font-size: 4rem;
        font-weight: bold;
    }
    .hero-section h2 {
        font-size: 2.5rem;
        margin-bottom: 20px;
    }
</style>