<section class="steps-section text-center">
    <div class="container">
        <h2 class="mb-5">¿Cómo funciona?</h2>
        <div class="row">
            <div class="col-md-4 step">
                <h3>Paso 1: Regístrate</h3>
                <p>Accede a la plataforma de ConduceYa y regístrate en minutos. Solo necesitas tus datos personales y estarás listo para comenzar.</p>
            </div>
            <div class="col-md-4 step">
                <h3>Paso 2: Accede a las clases</h3>
                <p>Disfruta de nuestras clases teóricas online desde cualquier dispositivo. Aprende a tu ritmo y con materiales siempre actualizados.</p>
            </div>
            <div class="col-md-4 step">
                <h3>Paso 3: Prácticas cerca de ti</h3>
                <p>Reserva tus clases prácticas en autoescuelas colaboradoras cerca de tu ubicación. ¡Podrás practicar con facilidad y obtener tu licencia rápidamente!</p>
            </div>
        </div>
    </div>
</section>


<style>
    .steps-section{
        background-color: var(--dark-color);
        color: var(--light-color);
        padding: 50px 0;
    }
</style>