 <!-- Hero de Permiso B -->
 <section class="hero-permiso-b text-center">
    <div class="container">
        <h1>Permiso B</h1>
        <p class="lead">Conduce vehículos de hasta 3.500 kg con este permiso</p>
        <a href="#info" class="btn btn-primary btn-lg">Más información</a>
    </div>
</section>

<!-- Información sobre el Permiso B -->
<section id="info" class="info-section">
    <div class="container">
        <h2 class="text-center m-4">¿Qué es el Permiso B? </h2>
        <div class="row category text-center">
            <div class="col-md-6 d-flex justify-content-center">
                <img 
                    src="/img/permisoB.webp" 
                    class="card-img-top" 
                    alt="Permiso B - Coche"
                    style="view-transition-name: permisoB;"
                >
            </div>
            <div class="col-md-6 d-flex flex-column align-items-center justify-content-center">
                <p class="lead">Con el <strong>Permiso B</strong>, es una licencia de conducir que permite a su titular manejar vehículos ligeros con un peso máximo de hasta 3.500 kg. Este tipo de licencia es esencial para quienes desean conducir coches particulares, furgonetas y otros vehículos ligeros.</p>

                <h3 class="text-center m-4">Requisitos para Obtener el Permiso B</h3>
                <ul class="text-start">
                    <li><strong>Edad Mínima:</strong> Debes tener al menos 18 años.</li>
                    <li><strong>Exámenes:</strong> Es necesario aprobar un examen teórico y un examen práctico de conducción.</li>
                    <li><strong>Certificado Médico:</strong> Se requiere un certificado que acredite tu aptitud física y mental para conducir.</li>
                </ul>
            </div>
        </div>

    </div>
</section>

<!-- Hero de Precios -->
<section class="text-center py-5" id="precios">
    <div class="container">
        <h1>Precios</h1>
        <p class="lead">Descubre nuestros precios competitivos para obtener tu permiso de conducción.</p>
        <!-- Tabla de Precios -->
        <table class="table text-center table-hover table-responsive">
            <thead class="thead-dark">
                <tr>
                    <th scope="col"><h2>Tipo de Servicio</h2></th>
                    <th scope="col"><h2>Precio</h2></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <th class="table-info" colspan="2"><h3>Teórico</h3></th>
                </tr>
                <tr>
                    <td>
                        <h3>Matrícula</h3>
                        <p>Libros, Tests, Clases Teóricas y 2 Oportunidades</p>
                    </td>
                    <td class="text">
                        <h4>100€ / mes</h4>
                        <p><strong>¡Solo tienes que pagar 100€ por mes!</strong><br><small> Hasta completar los 295€</small></p>
                        <p></p>
                    </td>
                </tr>
                <tr>
                    <th class="table-info" colspan="2"><h3>Prácticas</h3></th>
                </tr>
                <tr>
                    <td>Bono 10 clases prácticas</td>
                    <td>330€ ( La clase sale a 33€ )</td>
                </tr>
                <tr>
                    <td>Bono 20 clases prácticas</td>
                    <td>640€ ( La clase sale a 32€ )</td>
                </tr>
                <tr>
                    <td>Bono 30 clases prácticas</td>
                    <td>930€ ( La clase sale a 31€ )</td>
                </tr>
                <tr>
                    <td>Renovación del examen</td>
                    <td>230€ ( 2 Oportunidades )</td>
                </tr>
            </tbody>
        </table>
        <p class="lead text-center fw-bolder">¡Consigue una clase de regalo si traes a un amigo!</p>
    </div>
</section>


<!-- Llamada a la acción -->
<section class="text-center my-5">
    <div class="container">
        <h2>¡Inscríbete Hoy!</h2>
        <p class="lead">Empieza tu formación para obtener el permiso adecuado para ti y comienza a disfrutar de la carretera.</p>
        <a href="formulario.html" class="btn btn-success btn-lg">Inscribirme Ahora</a>
    </div>
</section>
<style>
    .hero-permiso-b {
        background-color: var(--dark-color);
        color: white;
        padding: 50px 0;
    }
    .hero-permiso-b h1 {
        font-size: 4rem;
        font-weight: bold;
    }
    .info-section {
        padding: 25px 0;
    }
    .info-section .category {
        margin-top: 40px;
    }
</style>